<section class="d-flex flex-column align-items-center justify-content-center p-2">
    <h2>Real Time Productos</h2>
    <section class="">
        <button type="button" class="btn btn-personalized-3 fw-bold" id="boton-registrarse"
                        data-bs-toggle="modal" data-bs-target="#agregarProductoModal">
                        Agregar Producto
                        </button>
        <!-- Modal Agregar Producto-->
        <section class="modal fade" id="agregarProductoModal" tabindex="-1" aria-labelledby="agregarProductoModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header bg-color-principal">
                    <h5 class="modal-title text-white" id="agregarProductoModal">
                    Agregar Producto
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-color-fondo">
                    <form id="form-agregar-producto">
                        <div class="mb-3">
                            <label for="tituloProducto" class="form-label fw-bolder">Titulo</label>
                            <input type="text" class="form-control bg-input" id="tituloProducto" placeholder="Ingrese titulo del producto"
                            minlength="3" maxlength="25" name="titulo" required />
                            <div id="tituloErrorRegistro"></div>
                        </div>
                        <div class="mb-3">
                            <label for="descripcionProducto" class="form-label fw-bolder">Descripci贸n producto</label>
                            <textarea class="form-control bg-input" id="descripcionProducto" rows="3" placeholder="Ingrese la descripci贸n del producto" name="descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="precioProducto" class="form-label fw-bolder">Precio</label>
                            <input type="number" class="form-control bg-input" id="precioProducto" placeholder="Ingrese el precio"
                            min="1" name="precio" required />
                            <div id="precioErrorRegistro"></div>
                        </div>
                        <div class="mb-3">
                            <label for="categoriaProducto" class="form-label fw-bolder">Categoria</label>
                            <input type="text" class="form-control bg-input" id="categoriaProducto" placeholder="Ingrese categoria del producto"
                            minlength="3" maxlength="25" name="categoria" required />
                            <div id="categoriaErrorRegistro"></div>
                        </div>
                        <div class="mb-3">
                            <label for="codigoProducto" class="form-label fw-bolder">Codigo</label>
                            <input type="text" class="form-control bg-input" id="codigoProducto" placeholder="Ingrese codigo del producto"
                            minlength="3" maxlength="25" name="codigo" required />
                            <div id="codigoErrorRegistro"></div>
                        </div>
                        <div class="mb-3">
                            <label for="stockProducto" class="form-label fw-bolder">Stock</label>
                            <input type="number" class="form-control bg-input" id="stockProducto" placeholder="Ingrese el stock"
                            min="1" name="stock" required />
                            <div id="stockErrorRegistro"></div>
                        </div>
                        <div class="mb-3">
                            <label for="urlImagenProducto" class="form-label fw-bolder">Url Imagen</label>
                            <input type="text" class="form-control bg-input" id="urlImagenProducto" placeholder="Ingrese la URL Imagen"
                            minlength="3" name="urlImagen" required />
                            <div id="urlImagenErrorRegistro"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type="submit" id="botonRegistrarse" class="btn btn-personalized-3 mx-1 fw-bold" aria-label="Agregar">
                                Agregar
                            </button>
                            <button type="reset" class="btn btn-personalized-1 mx-1 fw-bold" aria-label="Cancelar">
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </section>
    </section>
    <section class="d-flex align-items-stretch justify-content-around flex-wrap" id="contenedorDeProductos">
    {{#each productos}}
    <div class="card m-2 d-flex flex-column" style="width: 18rem; min-height: 400px;" id="producto{{this.id}}">
        <img src="{{this.urlImagen}}" class="card-img-top" alt="Imagen del producto" style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column" style="flex-grow: 1;">
            <h5 class="card-title">{{this.titulo}}</h5>
            <p class="card-text">
                {{this.descripcion}}
            </p>
            <p><span>Precio:</span> {{this.precio}}</p>
            <div class="d-flex align-items-center justify-content-center mt-auto ">
                <button type="button" class="btn btn-personalized-2 fw-bold" id="boton-registrarse"
                    data-bs-toggle="modal" data-bs-target="#editar{{this.id}}ProductoModal">
                    Editar
                </button>
                <!-- Modal Editar Producto-->
                <section class="modal fade" id="editar{{this.id}}ProductoModal" tabindex="-1" aria-labelledby="editar{{this.id}}ProductoModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-color-principal">
                                <h5 class="modal-title text-white" id="editar{{this.id}}ProductoModal">
                                    Editar Producto
                                </h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body bg-color-fondo">
                                <form id="editar{{this.id}}Producto" action="http://localhost:8081/user" method="POST">
                                    <div class="mb-3">
                                        <label for="editar{{this.id}}tituloProducto" class="form-label fw-bolder">Titulo</label>
                                        <input type="text" class="form-control bg-input" id="editar{{this.id}}tituloProducto" 
                                        placeholder="Ingrese titulo del producto" value="{{this.titulo}}" minlength="3" maxlength="25" name="titulo" required />
                                        <div id="tituloErrorRegistro"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editar{{this.id}}descripcionProducto" class="form-label fw-bolder">Descripci贸n producto</label>
                                        <textarea class="form-control bg-input" id="editar{{this.id}}descripcionProducto" rows="3" placeholder="Ingrese la descripci贸n del producto">{{this.descripcion}}</textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editar{{this.id}}precioProducto" class="form-label fw-bolder">Precio</label>
                                        <input type="number" class="form-control bg-input" id="editar{{this.id}}precioProducto" 
                                        placeholder="Ingrese el precio" value="{{this.precio}}" min="1" name="precio" required />
                                        <div id="precioErrorRegistro"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editar{{this.id}}categoriaProducto" class="form-label fw-bolder">Categoria</label>
                                        <input type="text" class="form-control bg-input" id="editar{{this.id}}categoriaProducto" 
                                        placeholder="Ingrese categoria del producto" value="{{this.categoria}}" minlength="3" maxlength="25" name="categoria" required />
                                        <div id="categoriaErrorRegistro"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editar{{this.id}}codigoProducto" class="form-label fw-bolder">Codigo</label>
                                        <input type="text" class="form-control bg-input" id="editar{{this.id}}codigoProducto" 
                                        placeholder="Ingrese codigo del producto" value="{{this.codigo}}" minlength="3" maxlength="25" name="codigo" required />
                                        <div id="codigoErrorRegistro"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editar{{this.id}}stockProducto" class="form-label fw-bolder">Stock</label>
                                        <input type="number" class="form-control bg-input" id="editar{{this.id}}stockProducto" 
                                        placeholder="Ingrese el stock" value="{{this.stock}}" min="1" name="stock" required />
                                        <div id="stockErrorRegistro"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editar{{this.id}}urlImagenProducto" class="form-label fw-bolder">Url Imagen</label>
                                        <input type="text" class="form-control bg-input" id="editar{{this.id}}urlImagenProducto" 
                                        placeholder="Ingrese la URL Imagen" value="{{this.urlImagen}}" minlength="3" name="urlImagen" required />
                                        <div id="urlImagenErrorRegistro"></div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button type="submit" id="botonRegistrarse" class="btn btn-personalized-3 mx-1 fw-bold" aria-label="Agregar">
                                            Agregar
                                        </button>
                                        <button type="reset" class="btn btn-personalized-1 mx-1 fw-bold" aria-label="Cancelar">
                                            Cancelar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <button class="btn btn-personalized-1 m-1 fw-bold" onclick="eliminarProducto('{{this.id}}')">Eliminar</button>
            </div>
        </div>
    </div>
    {{/each}}
</section>

</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>